/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Ruhl';
    src: url(../fonts/FrankRuhlLibre-Regular.ttf);
}
@font-face {
    font-family: 'Ruhl Medium';
    src: url(../fonts/FrankRuhlLibre-Medium.ttf);
}
@font-face {
    font-family: 'Vibes';
    src: url(../fonts/GreatVibes-Regular.ttf);
}

html{
    font-size: 62.5%;
    --main-color: #180161;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(1rem + 1vw);
    --header5: calc(.7rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --simpleTesxt: calc(.7rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #4F1787;
    --background-color: #180161;
    --background-second-color: #FB773C;
    --background-three-color: #EB3678;
    --gray-text: #525252;
    scroll-behavior:smooth;
}
body{
    font-family: "Ruhl", sans-serif;
    animation: opening 3s ease-in-out;
}
h1{
    font-size: var(--header1);
    font-family: "Vibes", sans-serif;
}
li,button,label,input,p{
    font-size: var(--text);
}
h2{
    font-size: var(--header2);
}
h3{
    font-size: var(--header3);
    font-weight: normal;
}
h4,h5{
    font-size: var(--header4);
}
h6{
    font-size: var(--header5);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

input{
    margin: 3rem 0rem;
    color: var(--main-color);
    border: none;
    padding: 1rem;
    transition: all 0.5s ease;
}
input:focus{
    outline: none;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.1);
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fixedMenu{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.5s ease;
}
.hidden {
    transform: translateY(-100%);
    transition: all 0.5s ease;
}


/* sidebar */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: var(--background-color);    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebarHeader{
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background-three-color);
}
.logo{
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.avatar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.avatar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.avatarMenu{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.avatarMenu button{
    width: 100%;
    font-size: var(--simpleTesxt);
    background-color: var(--background-second-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.avatarMenuToggle{
    display: flex;
}

.sidebarMenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar button{
    width: 100%;
    font-size: var(--simpleTesxt);
    background-color: var(--background-second-color);
    color: white;
    padding: 1rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar button:hover{
    background-color: var(--background-three-color);
}





/* mainContent */

.mainContent{
    background-color:#ccc;
    position: absolute;
    right: 0;
    width: 85%;
    min-height: 100%;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    transition: all 0.5s ease;
}
.content{
    width: 100%;
    min-height: 100%;
}



/* Sales */

.salesContainer {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 2rem auto;
}

.salesContainer h2 {
    font-size: var(--header2);
    margin-bottom: 1.5rem;
    color: var(--main-color);
    text-align: center;
}

/* Estilos de la tabla */
.salesTable {
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 1rem;
}

.salesTable thead {
    background-color: var(--special-color);
    color: #ffffff;
}

.salesTable th, .salesTable td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.salesTable th {
    font-size: var(--text);
    font-weight: 600;
}

.salesTable td {
    font-size: var(--simpleTesxt);
    color: var(--gray-text);
}

.salesTable tr:nth-child(even) {
    background-color: #f7f9fc;
}

.salesTable tr:hover {
    background-color: #e1e8f0;
}

/* Estilos para los estados */
.status {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: #fff;
    font-size: var(--simpleTesxt);
    font-weight: 600;
}

.status.new {
    background-color: #28a745; /* Verde para nuevo */
}

.status.building {
    background-color: #ffc107; /* Amarillo para en construcción */
}

.status.pending {
    background-color: #fd7e14; /* Naranja para pendiente */
}

.status.on-the-way {
    background-color: #17a2b8; /* Cian para en camino */
}

.status.stock {
    background-color: #6c757d; /* Gris para stock */
}
.actionButtons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.salesTable td button{
    background-color: var(--special-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--simpleTesxt);
    transition: all 0.5s ease;
}

#delete{
    background-color: red;
}
#delete:hover{
    background-color: #ff0000;
}
#edit{
    background-color: #007bff;
}
#edit:hover{
    background-color: #0056b3;
}

/* New Sales */
.newSalesContainer {
    width: 70%;
    padding: 2rem;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.newSalesContainer h2 {
    font-size: var(--header3);
    margin-bottom: 1.5rem;
    color: var(--main-color);
    text-align: center;
}

.newSalesForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.newSalesForm label {
    font-size: var(--text);
    color: #444;
    font-weight: 500;
}

.newSalesForm input[type="text"],
.newSalesForm textarea,
.newSalesForm input[type="date"] {
    padding: 0.75rem 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: var(--simpleTesxt);
    width: 100%;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total del elemento */
    transition: border-color 0.3s ease;
}

.newSalesForm input[type="text"]:focus,
.newSalesForm textarea:focus,
.newSalesForm input[type="date"]:focus {
    border-color: var(--special-color);
    outline: none;
}

.newSalesForm textarea {
    resize: vertical; /* Permite cambiar el tamaño solo verticalmente */
    min-height: 120px;
}

.newSalesForm button {
    padding: 0.75rem 1.5rem;
    background-color: var(--special-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.newSalesForm button:hover {
    background-color: var(--background-color);
    transform: translateY(-2px);
}

.newSalesForm button:active {
    background-color: #004494;
    transform: translateY(0);
}


/* Dash */

/* Contenedor principal del Dashboard */
.dashboardContainer {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2rem auto;
    border: 1px solid #e0e0e0;
}

/* Título del Dashboard */
.dashboardContainer h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}

/* Contenedor del resumen de ventas */
.dashboardSummary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Elementos del resumen de ventas */
.summaryItem {
    background: #f7f9fc;
    border-radius: 8px;
    padding: 1rem;
    border-left: 5px solid #007bff; /* Color de barra lateral para destacar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.summaryItem:hover {
    background-color: #e1e8f0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Títulos y párrafos dentro del resumen */
.summaryItem h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.summaryItem p {
    font-size: 1rem;
    color: #666;
}

.summaryItem span {
    font-weight: 600;
    color: #333;
}

/* Contenedor de gráficos */
.dashboardCharts {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f7f9fc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor del gráfico */
.chart {
    height: 400px;
}


/*  containerDashInit  */

.containerDashInit{
    display: grid;
    align-content: start;    
}

.dashInit{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.dashInit .itemDashInit .chart{
    width: 400px;
    height: 200px;
}
.adminSales{
    margin-top: 5rem;
}



/*
    USERS
*/

.usersContainer {
    padding: 20px;
}

.usersTable {
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.usersTable th,
.usersTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.usersTable th {
    background-color: #f4f4f4;
}
.usersTable tr:hover{
    background-color: #95949488;
}
.actionButton {
    border: none;
    padding: 8px 12px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

.editButton {
    background-color: #4caf50; 
}

.deleteButton {
    background-color: #f44336;
}

.actionButton:hover {
    opacity: 0.8;
}

/*
    POINTS
*/

.pointsContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.pointsSummary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.pointsCard {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.pointsCard h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.pointsValue {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin: 10px 0;
}

.pointsDescription {
    font-size: 14px;
    color: #666;
}

.hamburguesa{
    display: none;
}

@media (max-width: 991.98px) {

    .adminSales, .salesContainer{
        max-width: 90%;
        overflow-x: scroll;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .sidebar{
        display: none;
    }
    .mainContent{
        position: relative;
        width: 100%;
    }
    .hamburguesa{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .linea{
        width: 30px;
        height: 3px;
        background-color: var(--main-color);
        margin: 5px;
    }
}